body{
    margin: 0;
    padding:0;
    background-image: url('img-bg.jpg');
    background-size: cover;
    background-position: center;
}

.header{
    border:1px solid black;
    height: 80px;
    background-color: rgb(1, 1, 26);
}
.header h1 {
    text-align: center;
    color: rgb(199, 51, 51);
    margin-top: -70px;
}
.icone img{
    
    height: 79px;
    width: 80px;
    margin-top: 2px;
   
}

.container {
    
    border-radius: 10px;
    width: 1250px;
    height: 600px;
    margin: auto;
    margin-top: 1.5%;
    background-color: rgb(236, 233, 233);
}
.nbr {
   
    width:350px;
    height: 50px;
    float: right;
    margin-right: 20%;

}
.nbr button {
    
    text-decoration:none;
    background-color: blue;
    color:#fff;
    width:30px;
    height:20px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

}
.nbr input {
    width:50px;
}
.milieu {
    border:2px solid grey;
    height: 400px;
    margin-top: 35px;
    width: 750px;
    margin-left:25px;
    border-radius: 12px/30px;
}

.suivant{
   
    width: 100px;
    height: 22px;
    float: right;
    margin-right: 23px;
   
}
.suivant button {
    width: 100px;
    background-color:  rgb(32, 221, 228);
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 430px;
}


.inputs{
    background-color: #fff;
  
    border-radius:8px;
    width: 800px;
    height: 460px;
    float: right;
    margin-right: 3%;
    margin-top: -32%;
}
.image img{
    border: 5px solid rgb(32, 221, 228);
    border-radius: 50%;
    width: 210px;
    height: 230px;
    float: right;
    margin-right: 3%;
    
}


/*la partie Gauche des inputs */
.input{
    border: 1px solid black;
    width: 500px;
    height: 330px;
    margin-top: -2%;
    margin-left: 2%;
}
.nobe input{
    border: 2px solid rgb(204, 194, 194);
    width: 400px;
    height: 25px;
    border-radius:6px;
    
}





/*l'image qui se situe à gauche*/
.Gauche 
{
    
    width: 320px;
    height: 340px;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    background-color:rgb(32, 221, 228) ;
}
/*l'image radius*/
.imd img{
    border: 1px solid rgb(209, 7, 7);
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin-left: 7%;
    margin-top: 5%;
}
.liste {
    background-color: #fff;
    width: 320px;
    height: 210px;
    margin-left: -1px;
    margin-top: 4%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.liste li {
    list-style: none;
    margin-top: 20px;
    margin-left: -40px;
}
.liste a {
    text-decoration: none;
    color: dimgrey;
    font-size: 25px;
    text-transform: capitalize;
    height:100px;
}
.liste li:hover{
    background-color: rgb(236, 229, 229);
    border-left:3px solid blue;
   
}
.liste img {
    float: right;
    margin-top: -50px;
    width: 40px;
}
.nav {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80px;
    background-color:rgb(8, 168, 173)  ;
}
.nav h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size:22px;
    line-height:80px;
}
.deconnexio input{
    background-color:rgb(32, 221, 228)  ;
    width: 120px;
    height: 40px;
    float: right; 
    margin-top: -70px;
    margin-right: 30px;
    font-size:15px;
    font-weight: 900;
}
/*le choix des questions*/

.hear {
    font-size:10px;
    text-align: center;
}

.question textarea {
    border: 1px solid black;
    width: 400px;
    height:40px;
    float: right;
    margin-right: 60px;
    margin-top: 5px;
}

.score textarea{
    border: 1px solid black;
    width: 400px;
    height:40px;
    margin-top: 10px;
    float: right;
    margin-right: 60px;
    

}

.type select{
    border: 1px solid black;
    width: 400px;
    height:30px;
    margin-top: 25px;
    float: right;
    margin-right: 60px;
    font-size: 14px;
    text-transform: capitalize;

}